---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Chart.Name }}"
  namespace: "{{ .Values.general.namespace }}-{{ .Values.general.stage }}"
spec:
  replicas: 4
  selector:
    matchLabels:
      app: "{{ .Chart.Name }}"
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        app: "{{ .Chart.Name }}"
    spec:
      containers:
        - name: "{{ .Chart.Name }}"
          image: nginx:stable-alpine-slim
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: config
          configMap:
            name: "{{ .Chart.Name }}"
